@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  font-family: "Open Sans",sans-serif, "Arial",sans-serif;
  vertical-align: middle;
}

/* Reset CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.5;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* General Classes */

.w-limit{
  max-width: 556px;
  margin: 0 auto;
}

/* Theme CSS */
header{
  border-bottom: 1px solid #ddd;
  margin:10px 0 50px;
}


#header{
  padding: 10px 0;
}
#header button{
  background: transparent;
  border-radius: 4px;
  border:solid 1px #ddd;
  width: 35px;
  height: 35px;
  font-size: 1rem;
}

#header #search_box{
    background: #ddd;
    height: 35px;
    display: inline-block;
    border-radius: 4px;

}

#header input{
  background: transparent;
  border:none;
  margin: 0;
  padding:0 5px 0 0;
  height:100%;
  outline: none;

}
#header .fa-search{
  color:rgba(0,0,0,.2);
  padding:0 8px;
  text-align: center;
}

#header img{
  width: 50px;
  vertical-align: middle;
  border-right: 1px solid #ddd;
  padding-right: 5px;
}


#main_content .link{
  display: flex;
}
#main_content .link{
  margin-bottom: 50px;
}

#main_content .link{
  
}
